.MultiplierButton{
  flex: 1;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  font-size: 4rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  margin: 5px;
}
.MultiplierButton:first-child{
  margin-left: 0;
}
.MultiplierButton:last-child{
  margin-right: 0;
}
.MultiplierButton:active {
  background: linear-gradient(90deg, #7367f0,#ce9ffc);
}
.MultiplierButton .number {
  margin-bottom: -1.5rem;
}

@media only screen and (max-width: 1200px) {
  .MultiplierButton{
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  @media only screen and (max-height: 763px) {
    .MultiplierButton{
      font-size: 2rem;
    }
  }
}